<section class="row">

    @if (SectionKinderenGroup != null)
    {
        <label class="row col-@Section.Columns offset-@Section.Column" id="@Section.SectionNumber">
            <label class="border border-dark bg-dark text-light m-1 col-1" style="height:30px">@Section.SectionNumber</label>
            <label class="border border-dark bg-dark text-light m-1 col-10" style="height:30px">@Section.Title</label>
        </label>

        @foreach (dynamic elementGroup in SectionKinderenGroup)
        {
            <div  class="row col-12 m-2">
                @foreach (dynamic element in elementGroup)
                {

                    if (element.GetType() == typeof(FormulierVraag))
                    {
                    <FormulierElementVraag ElementVraag=(FormulierVraag)element></FormulierElementVraag>
                    }
                    else if (element.GetType() == typeof(FormulierAntwoord))
                    {
                    <FormulierElementAntwoord formulierAntwoord="@element"></FormulierElementAntwoord>
                    }
                    else if (element.GetType() == typeof(FormulierSpecificatie))
                    {
                    <FormulierElementSpicifecatie Specificatie="@element"></FormulierElementSpicifecatie>
                    }
                }
            </div>
        }
    }
</section>

@code {
    [Parameter]
    public FormulierSectie Section { get; set; }

    dynamic SectionKinderenGroup;

    protected override void OnInitialized()
    {
        if (Section.SectionKinderen != null)
        {
            SectionKinderenGroup = Section.SectionKinderen.GroupBy(G => G.Row);
        }

    }
}
